<h3>Who is going to lunch today?</h3>
<% form_remote_tag :url => calculate_restaurant_path, :method => :put, :html => { :method => :put } do -%>
  <p>
    <%= label_tag 'restaurant_tags', 'Restaurant Tags'-%>
    <%= text_field_tag 'restaurant_tags' -%>
  </p>
  <p>
    <% for user in @users %>
      <%= check_box_tag "going_to_lunch[]", user.id, true -%>
      <%= label_tag "going_to_lunch[]", user.login -%>
      <br />
    <% end %>
  </p>
  <p>
    <%= submit_tag 'Best Restaurant' -%>
  </p>
<% end %>
<div id="calculation">
</div>

