<h3><%=h @group.name -%></h3>

<div class="tabledata">
  <table>
    <tr>
      <th>User</th>
      <th>Email</th>
    </tr>
    <% @users.each do |user| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%=h user.login -%></td>
        <td><a href="mailto:<%=h user.email -%>"><%=h user.email -%></a>
      </tr>
    <% end %>
  </table>
</div>

<br />
<p>
  You can send an <%= link_to 'invitation', new_group_invitation_path(@group) -%> to invite a new member to your group.  You can also get a <%= link_to 'list', group_invitations_path(@group) -%> of existing invitations.
</p>
