<%= start_form_tag :action=> "create" %>

    <label for="restaurant_name">Restaurant Name</label><br/>
    <%= text_field "restaurant", "name", :size => 40 %><br/>

    <label for="restaurant_restaurant_type">Type</label><br/>
    <%= text_field "restaurant", "restaurant_type",  :size => 20 %><br/>

    <label for="restaurant_description">Description</label><br/>
    <%= text_field "restaurant", "description",  :size => 80 %><br/>

    <%= submit_tag "New" %>

<%= end_form_tag %>
