<h3>Edit <%= @restaurant.name -%></h3>
<% form_for [@group, @restaurant] do |f| %>
  <%= f.error_messages -%>
  <p>
    <%= f.label :name, 'Restaurant Name' -%><br/>
    <%= f.text_field :name -%>
  </p>
  <p>
    <%= f.label :category, 'Restaurant Type' -%><br/>
    <%= f.text_field :category -%>
  </p>
  <p>
    <%= f.label :description, 'Description' -%><br/>
    <%= f.text_field :description -%>
  </p>
  <%= f.submit "Update" -%>
<% end %>
