<table border="1" cellpadding="2">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <% for restaurant in @restaurants %>
  <tr>
    <td><%=h restaurant[:name] %></td>
    <td><%=h restaurant[:restaurant_type] %></td>
    <td><%=h restaurant[:description] %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => restaurant %></td>
    <td><%= link_to 'Delete', {:action => 'destroy', :id => restaurant},
            :confirm => "Are you sure you want to delete this restaurant?" %></td>
  </tr>
  <% end %>
</table>
<%= pagination_links @restaurant_pages %>
<br/>
<%= link_to "New Restaurant", :action => "create" %> 
