<h3>Select A Restaurant:</h3>
<% form_tag restaurant_picked_path, :method => :put do %>
  Suggested Restaurant:
  <%= select_tag 'selected_restaurant_id', options_for_select(@restaurant_options, @calculated_restaurant.id )-%>
  <%= hidden_field_tag("user_id_list", @users.map { |u| u.id }.join(",")) -%>
  <%= submit_tag "Select" -%>
<% end %>
<p>
  The Lunch Coordinator suggests the the restaurant selected above.  You can select another restaurant instead, listed in order of preference
</p>
<div class="debug">
  <h4>Average Ratings:</h4>
  <table border="1">
    <tr>
      <th>Restaurant</th>
      <th>User Rating</th>
      <th>Selections</th>
      <th>Adj Rating</th>
    </tr>
    <% for restaurant in @restaurants do -%>
      <tr>
        <td><%=h restaurant.name -%></td>
        <td><%=h "%0.2f" % @restaurant_ratings[restaurant.name][:avg] -%></td>
        <td><%=h "%0.2f" % @restaurant_visited[restaurant.name][:avg] -%></td>
        <td><%=h "%0.2f" % @adjusted_ratings[restaurant.name][:avg] -%></td>
      </tr>
    <% end -%>
  </table>
  <br/>
  <h4>User Ratings:</h4>
  <table border="1">
    <tr>
      <th>Restaurant</th>
      <th>User</th>
      <th>Rating</th>
      <th>Selections</th>
      <th>Adj Rating</th>
    </tr>
    <% for restaurant in @restaurants do -%>
      <% for user in @users do -%>
        <tr>
          <td><%=h restaurant.name -%></td>
          <td><%=h user.login -%></td>
          <td><%=h @restaurant_ratings[restaurant.name][user.login] -%></td>
          <td><%=h @restaurant_visited[restaurant.name][user.login] -%></td>
          <td><%=h @adjusted_ratings[restaurant.name][user.login] -%></td>
        </tr>
      <% end -%>
    <% end -%>
  </table>
</div>
