<h3>Welcome to the Lunch Coordinator!</h3>
<p>It requires some setup:</p>
<ol>
  <li><%= link_to 'Create an account', new_user_path -%></li>
  <li><%= link_to 'Create or join a Lunch Group', groups_path -%></li>
  <% if logged_in? && current_user.group %>
    <li><%= link_to "Add the restaurants in your Lunch Group's area", new_group_restaurant_path(current_user.group) -%></li>
    <li><%= link_to 'Have everyone in your Lunch Group rate the restaurants', group_restaurant_user_ratings_path(current_user.group) -%></li>
  <% else %>
    <li><%= link_to "Add the restaurants in your Lunch Group's area", groups_path -%></li>
    <li><%= link_to 'Have everyone in your Lunch Group rate the restaurants', groups_path -%></li>
  <% end %>

</ol>
<p>Each day, inform the Lunch Coordinator which members 
  of your group are going to lunch.  The Lunch Coordinator takes into account the members' 
  ratings for each restaurant and also the number of selections since that restaurant was 
  picked, and decides which restaurant you should visit for lunch.  Restaurants that are 
  rated higher will come up more often than restaurants rated lower.  Easy and fair way to 
  pick a restaurant!
</p>
<p>Note!  Only tested with firefox 3, may not look right in other browsers</p>

