<html>
  <head>
    <title>Lunch Coordinator</title>
    <%= stylesheet_link_tag "lunch" -%>
  </head>
  <body id="main">
    <div id="header">Lunch Coordinator</div>
    <div id="navigation">
      <ul id="navmenu">
        <% if logged_in? && current_user.group %>
          <li><%= link_to "Go to Lunch!", goto_lunch_group_path(current_user.group) -%></li>
          <li><%= link_to "My Group", group_path(current_user.group) -%></li>
          <li><%= link_to "My Restaurants", group_restaurants_path(current_user.group) -%></li>
          <li><%= link_to "My Ratings", group_restaurant_user_ratings_path(current_user.group) -%></li>
        <% else %>
          <li><%= link_to "Go to Lunch!", groups_path -%></li>
          <li><%= link_to "My Group", groups_path -%></li>
          <li><%= link_to "My Restaurants", groups_path -%></li>
          <li><%= link_to "My Ratings", groups_path -%></li>
        <% end %>
        <% if logged_in? -%>
          <li><%= link_to "Logout", logout_path -%></li>
        <% else -%>
          <li><%= link_to "Login", login_path -%></li>
          <li><%= link_to "Signup", signup_path -%></li>
        <% end -%>
        <li><%= link_to "Home", root_path -%></li>
      </ul>
    </div>
    <% if flash[:notice] %>
      <div id="flash_notice">
        <%= flash[:notice] -%>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div id="flash_error">
        <%= flash[:error] -%>
      </div>
    <% end %>
    <div id="content">
      <%= yield -%>
    </div>
    <div id="footer">Copyright 2009 Nut Monkey Enterprises</div>
  </body>
</html>
